.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.card-img-top {
  height: 70%;
}
.product-item .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  width: 100%;
  font-size: 16px;
  color: #555;
}
.category {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.price {
  font-size: 20px;
  color: green;
}
.rate {
  font-size: 18px;
  color: #ff9900;
}
